<div class="jumbotron">
    <h2>Equilibrium (EQ) Index</h2>
    <hr/>
    <?php if (!empty($this->arrayElements)) { ?>
        <p><strong>Array Elements:&nbsp;</strong><?php echo $this->arrayElements; ?></p>
        <p><strong>Equilibrium Index:&nbsp;</strong>
            <?php 
            if (empty($this->equilibriumIndex)) {
                echo 'N/A'; 
            } else {
                print_r($this->equilibriumIndex); 
            }
            ?>
        </p>
    <?php } else { ?>
        <p>Please select or click on any one of sample below</p>
    <?php } ?>
</div>

<div class="row">
    <h3>Sample for testing or you can directly type comma separated array element on the url</h3>
    <?php
    $samples = array('2,1,7,3', '1,2,3,4,5','-7,1,5,2,-4,3,0','12,23,34,56,-8,0');
    foreach ($samples as $sample) {
        echo '<p><a href="' . $this->url("equilibriumIndex") . '/' . $sample . '">' .$sample. '</a></p>';
    }
    ?>
</div>