<div class="jumbotron">
    <h1>Motortrak Homework</h1>
    <p>Equilibrium (EQ) Index  of a sequence (array) is an index such that the sum of elements at lower indexes is equal to the sum of elements at higher indexes. </p>
    <p>An equilibrium index of this array is any integer P such that 0 ≤ P < N and the sum of elements of lower indices is equal to the sum of elements of higher indices, i.e. <br/><br/>
    A[0] + A[1] + ... + A[P−1] = A[P+1] + ... + A[N−2] + A[N−1].</p>
</div>

<div class="row">
    <p>Please click on Equilibrium Index (top left) to test the functionality</p>
</div>
